<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'videoplayer/stylesheet.css' %}">
        <script src="{% static 'videoplayer/scripts.js' %}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    </head>
    <body>
        <div class="header">
            <img src="{% static 'videoplayer/logo.jpg' %}">
        </div>
        <div class="videoPlayerContainer">
            <iframe id="videoPlayer" width="100%" height="100%" src="https://www.youtube.com/embed/Q-LEuBqeLzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="videoList">
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
            <div class="videoListElement">
                <img class="videoListElementImage" onclick="setPlayerSrc(this)">
            </div>
        </div>
        <script>
            populateVideoList();
        </script>
    </body>
</html>